<div class="container">
    <nav class="navbar is-transparent" role="navigation" aria-label="main navigation">
        <div class="navbar-brand">
            <a class="navbar-item" href="/">

                <svg width="61px" height="60px" viewBox="0 0 37 36" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink">
                    <!-- Generator: Sketch 47.1 (45422) - http://www.bohemiancoding.com/sketch -->
                    <desc>Created with Sketch.</desc>
                    <defs></defs>
                    <g id="Welcome" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd">
                        <g id="iPhone-8" transform="translate(-8.000000, -12.000000)" fill="#1A535C">
                            <g id="Logo" transform="translate(8.000000, 12.000000)">
                                <g id="Group">
                                    <path d="M21.0849678,9.38269122 L9.68192389,9.38269122 L21.1382525,20.8358488 C24.2810166,19.4001791 25.8261546,17.2989923 25.7736665,14.5322883 C25.7209748,11.7548495 24.1580752,10.0383171 21.0849678,9.38269122 Z M21.0882354,0.00512827555 C30.4824027,0.696269297 35.7373851,5.66366422 36.8531828,14.907313 C37.661389,21.6027691 35.1328072,26.287926 29.2674373,28.9627835 L36.2841569,35.9775609 L23.5520241,35.9775609 L0.000367936855,12.9179739 L0.000367936855,9.38269122 L0,0 L21.0882354,0 L21.0882354,0.00512827555 Z M0.228827067,22.6492114 L13.6984727,36 L0.228827067,36 L0.228827067,22.6492114 Z"
                                        id="Combined-Shape"></path>
                                </g>
                            </g>
                        </g>
                    </g>
                </svg>
            </a>
            <div class="navbar-burger" data-target="navMenu">
                <span></span>
                <span></span>
                <span></span>
              </div>
        </div>
        <div class="navbar-menu" id="navMenu">
            <div class="navbar-end">
                <a class="navbar-item" href="/">
                    Home
                </a>
                <a class="navbar-item" href="/work">
                    Work
                </a>
                <a class="navbar-item" href="/post">
                    Blog
                </a>
            </div>
        </div>
    </nav>
</div>