{{ define "main" }}
<section class="hero is-medium is-primary is-bold">
    <div class="hero-body">
        <div class="container has-text-centered">
            <h1 class="title">
                My name is
                <span class="has-text-yellow">Jacob Reed</span>
            </h1>
            <h2 class="subtitle">
                Developer / Scrum Master
            </h2>
            <a class="button is-large">Contact Me</a>
        </div>
    </div>
</section>

<section class="section">
    <div class="container">
        <h2 class="title is-2 has-text-centered">Featured Work</h2>
        <div class="columns">
            <!-- Ranges through content/post/*.md -->
            {{ range first 2 (where .Data.Pages "Type" "work") }}
            <div class="column">
                    {{if .Params.thumbnail }}
                <figure class="image is-128x128">
                    <img src="{{.Params.thumbnail}}">
                </figure>
                {{ end }}
                <h3 class="title is-3">{{.Title}}</h3>
                <span>{{.Date.Format "Jan 3, 2006"}}</span>
                <div class="content">
                    <p>{{.Summary}}</p>
                </div>

                <a href="{{.Permalink}}">READ MORE</a>

            </div>
            {{ end }}
        </div>
    </div>
</section>
<section class="section" id="homepage-blog">
    <div class="container">
        <h2 class="title is-2 has-text-centered">Latest Blog</h2>
        <div class="columns">
                <!-- Ranges through content/post/*.md -->
                {{ range first 3 (where .Data.Pages "Type" "post") }}
                <div class="column">
                    {{if .Params.thumbnail }}
                    <figure class="image">
                      <img src="{{.Params.thumbnail}}"> 
                    </figure>
                    <br>
                    {{ end }}
                    <h3 class="title is-3">{{.Title}}</h3>
                    <span>{{.Date.Format "Jan 3, 2006"}}</span>
                    <div class="content">
                        <p>{{.Summary}}</p>
                    </div>
                    <a href="{{.Permalink}}">READ MORE</a>
    
                </div>
                {{ end }}
            </div>
    </div>
</section>
{{ end }}